@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Rock+Salt&family=Source+Sans+Pro&display=swap');
.about-paragraph {
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;

}
.about-background-container{
    background-color:#ffff;

}
.about-text{
    padding: 20px;
    padding-bottom: 80px;
}
.intro {
    font-size: 25px;
    font-weight: 600;
}
.tools {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;

}
.tool-title {
    font-weight: 600;
    font-size: 20px;
}
.tool-title-sm {
    font-weight: 600;
    font-size: 15px;
}