@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Source+Sans+Pro&display=swap');
header {
    font-family: 'Lobster Two', cursive;
    font-size: 25px ;
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
  }
  
span {
    color: 	#d4af37;
}
nav {
    padding: 10px;
}
.center-img {
    width: 17%;
    transform: rotate(25deg);
}
button {
    color: 	#d4af37;
}
a {
    height: 5%;
    line-height: 40px;
    
}
a:hover {
    color: #d4af37;
}
.resume-link {
    padding: 5px;
}

@media (max-width: 550px) { 
header {
    justify-content: center;
}    

}
