@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Rock+Salt&family=Source+Sans+Pro&display=swap');
.hero {
    background-color: black;
    color: #ffff;
    font-family: 'Rock Salt', cursive;
    font-style: italic;
  }
.hero-top {
    padding: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.hero-bottom {
    padding: 20px;
    font-size: 20px;

}
.ho-dev {
    font-size: 35px;
}

.ho-dev:hover {
    color: white
}