@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&family=Source+Sans+Pro&display=swap');

  
span {
    color: 	#d4af37;
    font-family: 'Rock Salt', cursive;
}
footer{
    font-family: 'Source Sans Pro', sans-serif;

}